body {
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 300px;
}
.ui-body-c {
  background: #fff;
  z-index: 1;
}
.ui-page {
  -webkit-backface-visibility: hidden !important;
}
#nav-dropdown {
  width: 100%;
  border: 1px solid #000;
  background: #ddd;
  height: 310px;
  position: fixed;
  z-index: 2;
  margin-top: -280px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
#nav-dropdown ul li {
  list-style: none;
  float: left;
  border: 1px solid #000;
  margin: 5px;
}
#nav-dropdown ul li a {
  display: block;
  width: 100px;
  height: 100px;
}
#nav-dropdown #nav-links-container {
  float: left;
  width: 100%;
}
#nav-dropdown #nav-links-container ul li a.active {
  background: #555;
}
#nav-dropdown #main-story-links-container {
  float: left;
  width: 100%;
}
#nav-dropdown #main-story-links-container ul li.active a {
  background: #555;
}
#nav-dropdown #nav-dropdown-button-container {
  width: 100%;
  position: absolute;
  bottom: 0;
}
#nav-dropdown #nav-dropdown-button-container #dropdown-button {
  width: 200px;
  margin: 0 auto;
  background: #222;
  color: #fff;
  text-align: center;
  padding: 5px;
  height: 20px;
}
#nav-dropdown.show {
  margin-top: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
#isi-container {
  position: fixed;
  /*top:735px;*/

  bottom: 0;
  background: #ddd;
  width: 100%;
  height: 30px;
  border: 1px solid #000;
  height: 250px;
  z-index: 2;
  margin-bottom: -220px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
#isi-container #isi-button-container {
  width: 100%;
}
#isi-container #isi-button-container #isi-button {
  width: 200px;
  margin: 0 auto;
  background: #222;
  color: #fff;
  text-align: center;
  padding: 5px;
  height: 20px;
}
#isi-container.show {
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
#isi-container #isi-copy {
  width: 780px;
  padding: 0 10px;
}
#timer-container {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 1px solid #000;
  background: #ddd;
  z-index: 3;
  width: 150px;
  height: 35px;
  text-align: center;
  font-size: 35px;
  padding: 20px;
}
